<hr>
<h1>Directivas estructurales - uso del *ngIf</h1>

<h1>
  Dime tu nombre? <input type="text" [(ngModel)]="nombreEnTextbox">
</h1>

<div *ngIf="nombreEnTextbox">
  <h4>Nombre</h4>
  <p>
    {{nombreEnTextbox}}
  </p>
</div>

<ul>
  <li *ngFor="let nombre of nombres">
    {{nombre}}
  </li>
</ul>

<h1>
  Agregar un nombre a la lista <input (keydown.enter)="agregarNombre()" type="text" [(ngModel)]="nuevoNombre">
</h1>

<ul>
  <li *ngFor="let nombre of nombres" (click)="alertarNombre(nombre)">
    {{nombre}}
  </li>
</ul>




